service vendor.cocktail.hardware.led-service /vendor/bin/hw/vendor.cocktail.hardware.led-service
        interface aidl vendor.cocktail.hardware.led.ILed/default
        class hal
        user system
        group system